@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Martel&family=Roboto&display=swap');

body{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Martel', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header nav h3{
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 7%;
    font-size: 1.5em;

}
.flexible-container{
    display: flex;
    margin-bottom: 100px; 
    margin-left: 10%;
}
.half-width{
    width: 50%;
    height: 50%;
    padding-right: 10%;
}
h1{
    font-size: 3em;
    font-weight: 700;
}
.half-width img{
    width: 80%;
    height: 80%;
    padding-left: 10%;
}
.link-button{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color: #f44336;
    border-radius: 30px;
    padding: 14px 25px;
    font-weight: 700;
    color: white;
}
.fa-arrow-right{
    padding-left: 7px;
}
h2 {
    font-size: 25px;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 5%;
}
.container{
    display: flex;
    justify-content: center;

}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.collection .collection-banner img{
    width: 300px;
    height: 256px;
}
h3{
    font-size: 25px;
    font-weight: 700px;
}
h4{
    font-size: large;
}
.fa-star.filled{
    color: #FFC014;
    width: 12px;
}
.fa-star.space{
    padding-right: 4px;
}
.fa-star-half-alt.half-filled{
    color: #FFC014;
    width: 12px;
}
span{
    padding-left: 15px;
}

